.site-footer {
  #scrollButton {
    position: fixed;
    bottom: 10%;
    right: 2.2vw;
    background: var(--c_gry4);
    text-align: center;
    display: block;
    text-decoration: none;
    width: 4.4vw;
    max-width: 70px;
    min-width: 40px;
    height: 4.4vw;
    max-height: 70px;
    min-height: 40px;
    border-radius: 50%;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
    transition: all 0.3s;
    z-index: 10;
    img {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 1.47vw;
      max-width: 28px;
      min-width: 16px;
      z-index: 20;
    }
  } 
} 

@media screen and (max-width: 480px) {
  .site-footer {
    #scrollButton {
      right: 20px;
    }
  }
}

