@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  outline: none !important;
}
html {
  overflow-y: scroll;
}
body {
  /* background-color: var(--c_wht) !important; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

fieldset,
img {
  border: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}
a {
  color: #000000;
}
a:focus {
  outline: none;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* フォーム初期化 */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

body * {
  box-sizing: border-box;
}

/* 表示非表示 */
.on480 {
  display: none;
}
@media screen and (max-width: 480px) {
  .on480 {
    display: block;
  }
  .off480 {
    display: none;
  }
}

.on768 {
  display: none;
}
@media screen and (max-width: 768px) {
  .on768 {
    display: block;
  }
  .off768 {
    display: none;
  }
}

.on1024 {
  display: none;
}
@media screen and (max-width: 1024px) {
  .on1024 {
    display: block;
  }
  .off1024 {
    display: none;
  }
}

/* flex */
.flex {
  display: flex;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

.flex_ctr {
  display: flex;
  justify-content: center;
}

.align_ctr {
  align-items: center;
}

.align_base {
  align-items: baseline;
}
